.row
  .col-xs-12
    .card
      .card-header
        Recap

      .card-body
        .row
          .col-md-3.text-right
            = label_tag "Date"
          .col-md-9
            .input-group
              = text_field_tag :start_date, formated_date(Date.today.beginning_of_month), class: "form-control recap-date text-center"
              %span.input-group-addon To
              = text_field_tag :end_date, formated_date(Date.today.end_of_month), class: "form-control recap-date text-center"

      .card-body.no-padding
        .dataTables_wrapper
          %table.table.table-striped.table-hover{:style => "margin-bottom: 0;"}
            %thead
              %tr{:role => "row"}
                %th Project
                %th User
                %th
            %tbody
              - @projects.each do |project|
                %tr
                  %td= project.name
                  %td= project.user_name
                  %td.text-right
                    = link_to 'Recap', project_user_recap_path(project_id: project.slug, user_id: project.user_id, start_date: nil, end_date: nil), method: :post, class: "btn btn-xs btn-success"

          .bottom.text-center
            = paginate @projects
