.row
  .col-xs-12
    .card
      .card-header
        Recap

      .card-body
        .row
          .col-md-3.text-right
            = label_tag "Date"
          .col-md-9
            .input-group#recap-datepicker
              %span.input-group-addon
                %i.fa.fa-calendar
              #div
                = text_field_tag :recap_range, nil, class: "form-control recap-date text-center"
                = hidden_field_tag :recap_start_date
                = hidden_field_tag :recap_end_date

      .card-body.no-padding
        .dataTables_wrapper
          %table.table.table-striped.table-hover{:style => "margin-bottom: 0;"}
            %thead
              %tr{:role => "row"}
                %th Project
                %th User
                %th
            %tbody
              - @projects.each do |project|
                %tr
                  %td= project.name
                  %td= project.user_name
                  %td.text-right
                    = link_to 'Recap', '#', data: {project: project.id, user: project.user_id}, class: "btn btn-xs btn-success btn-recap"

          .bottom.text-center
            = paginate @projects
