- unless params[:pdf]
  .align-left
    %ul.button-actions
      %li= link_to "Back", recaps_path, class: "button"
      %li= link_to "Print PDF", request.url + "&format=pdf", class: "button"

%table.header
  %tr
    %td{rowspan: 3}
      = image_tag "41studio-logo.png", width: 180
    %th.align-left Project
    %th :
    %td= @project.name
  %tr
    %th.align-left Date
    %th :
    %td= @date_range
  %tr
    %th.align-left Reported by
    %th :
    %td= @project.user_name

%table.table-report
  %thead
    %th.align-center{:style => "width: 5%;"} No.
    %th{:style => "width: 15%"} Date
    %th{:style => "width: 40%"} Completed
    %th{:style => "width: 40%"} On Progress

  %tbody
    - @reports.each_with_index do |report, idx|
      %tr
        %td.align-center #{idx+=1}
        %td
          = formated_date(report.reported_at)
          %br
          Work Hour: #{report.work_hour.to_f}
        %td
          %ol
            - report.tasks.select{|task| task.completed? }.each do |task|
              %li= task.title
        %td
          %ol
            - report.tasks.select{|task| task.on_progress? }.each do |task|
              %li= task.title

