.row
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    %a.card.card-banner.card-green-light
      .card-body
        %i.icon.fa.fa-calendar-o.fa-4x
        .content
          .title Today
          .value
            %span.sign> #{Date.today.strftime("%B")}
            = Date.today.strftime("%d")

  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    %a.card.card-banner.card-yellow-light
      .card-body
        %i.icon.fa.fa-cubes.fa-4x
        .content
          .title Projects
          .value
            %span.sign>
            = @projects.total_count

.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    .card.card-mini
      .card-header
        .card-title.row
          .col-md-6
            Projects
          .col-md-6.text-right
            = link_to 'New Project', new_project_path, class: "btn btn-xs btn-success"
      .card-body.no-padding.table-responsive
        %table.table.card-table.table-hover{:style => "margin-bottom: 0;"}
          %thead
            %tr{:role => "row"}
              %th Project Name
              %th Client Name
              %th Email Client
              %th Email Project Manager
              %th
          %tbody
            - if @projects.empty?
              %tr
                %td{colspan: 5} No data available in table

            - @projects.each_with_index do |project, index|
              %tr
                %td= project.name
                %td= project.client_name
                %td= project.email_client
                %td= project.email_project_manager
                %td.text-right
                  = link_to 'New Report', new_project_report_path(project), class: "btn btn-xs btn-success"

        .bottom.text-center
          = paginate @projects
