= form_for @project, html: {class: "form form-horizontal"} do |f|
  - if @project.errors.any?
    .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4{:id => "oh-snap!-you-got-an-error!"}
        = "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .section
    .section-title Information
    .section-body
      .form-group
        = f.label :name, class: "col-md-3 control-label"
        .col-md-9
          = f.text_field :name, placeholder: "Project Name", class: "form-control"
      .form-group
        .col-md-3
          = f.label :description, class: "control-label"
          %p.control-label-help (short detail of projects , 500 max words)
        .col-md-9
          = f.text_area :description, class: "form-control", id: "text-editor"

    .section-title Contacts
    .section-body
      .form-group
        = f.label :client_name, class: "col-md-3 control-label"
        .col-md-9
          = f.text_field :client_name, class: "form-control"
      .form-group
        = f.label :email_client, class: "col-md-3 control-label"
        .col-md-9
          = f.email_field :email_client, class: "form-control"
      .form-group
        = f.label :project_manager_name, class: "col-md-3 control-label"
        .col-md-9
          = f.text_field :project_manager_name, class: "form-control"
      .form-group
        = f.label :email_project_manager, class: "col-md-3 control-label"
        .col-md-9
          = f.email_field :email_project_manager, class: "form-control"
      .form-group{:style => "margin-bottom: 15px;"}
        = f.label :email_cc, "Cc", class: "col-md-3 control-label"
        .col-md-9
          = f.text_field :email_cc, value: @project.email_cc, class: "form-control tagging-email ui-widget-content ui-autocomplete-input"
      .form-group{:style => "margin-bottom: 15px;"}
        = f.label :email_bcc, "Bcc", class: "col-md-3 control-label"
        .col-md-9
          = f.text_field :email_bcc, value: @project.email_bcc, class: "form-control tagging-email ui-widget-content ui-autocomplete-input"
      .form-group
        .col-md-9.col-md-offset-3
          .help-block Emails separated by comma, space, or tab.

  .form-footer
    .form-group
      .col-md-9.col-md-offset-3
        = f.submit 'Save', class: "btn btn-primary"
        = link_to 'Cancel', projects_path, class: "btn btn-default"
