%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Email client:
  = @project.email_client
%p
  %b Email project manager:
  = @project.email_project_manager

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
