.row
  .col-xs-12
    .card
      .card-header
        Detail Project

      .card-body
        .dataTables_wrapper
          .top= link_to 'Edit', edit_project_path(@project), class: "btn btn-success"
        %p
          %b Name:
          = @project.name
        %p
          %b Description:
          = Markdown.new(@project.description).to_html.html_safe
        %p
          %b Email client:
          = @project.email_client
        %p
          %b Email project manager:
          = @project.email_project_manager
