= form_for @report, html: {class: "form form-horizontal form-report"} do |f|
  - if @report.errors.any?
    .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h4{:id => "oh-snap!-you-got-an-error!"}
        = "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg
  .section
    .section-title Information
    .section-body
      .form-group
        = f.label :reported_at, class: "col-md-3 control-label"
        .col-md-9
          = f.text_field :reported_at, class: "form-control", value: formated_date(@report.reported_at)
      .form-group
        = f.label :project_id, class: "col-md-3 control-label"
        .col-md-9
          = f.select :project_id, options_from_collection_for_select(@report.user.projects, 'id', 'name', @report.project_id), {include_blank: 'Select project'}, {class: "select2"}
      .form-group
        .col-md-9.col-md-offset-3
          %a#toggle-email-recipients.btn.btn-xs.btn-success Email Recipients
      #js-email-recipients
        = render partial: 'reports/email_recipients', locals: { email_to: @report.email_to, email_cc: @report.email_cc, email_bcc: @report.email_bcc }

  .section
    .section-title Tasks
    .section-body
      #tasks
        = f.fields_for :tasks do |task|
          = render 'task_fields', f: task
        .links#add-task{:style => "margin-top: 5px;"}
          = link_to_add_association f, :tasks, title: "Add task" do
            %i.fa.fa-plus-circle.fa-2x{:style => "color: #18aa4a;"}

  .section
    .section-title Note
    .section-body
      .form-group
        .col-md-12
          = f.text_area :note, class: "form-control", id: "text-editor"
  .form-footer
    .form-group
      .col-md-12
        = f.submit 'Save & Send', class: "btn btn-primary"
        = f.submit 'Save', class: "btn btn-info"
        = link_to 'Cancel', reports_path, class: "btn btn-default"
