.nested-fields#task-list
  .form-group
    .col-md-12{:style => "height: 42px;"}
      .task-list
        .checkbox
          = f.check_box :status, {}, "completed", "on_progress"
          = f.label :status, class: "task-label" do
            = f.text_field :title, class: "task-label task-title", placeholder: "List task"
      .task-remove
        -# TODO
        -# show hide button remove on focus and hover the task
        -#{:style => "display: none;"}
        = link_to_remove_association f, title: "Remove task", class: "btn-remove" do
          %i.fa.fa-times-circle.fa-2x{:style => "color: #d73727;"}
