.nested-fields
  .form-group
    .col-md-1
      = link_to_remove_association f do
        %i.fa.fa-minus-circle.fa-2x
    .col-md-11
      = f.text_field :title, class: "form-control", placeholder: "Your task..."
  .form-group
    .col-md-12.col-md-offset-1
      .radio.radio-inline
        = f.radio_button :status, "on_progress"
        = f.label :status, "On Progress", value: "on_progress"
      .radio.radio-inline
        = f.radio_button :status, "completed"
        = f.label :status, "Completed", value: "completed"
