.row
  .col-xs-12
    .card
      .card-header
        Detail Report

      .card-body
        .dataTables_wrapper
          .top
            = link_to 'Edit', edit_report_path(@report), class: "btn btn-success"

        .section
          .section-title Reported at
          .section-body
            = formated_date(@report.reported_at)
        .section
          .section-title Email Receiver
          .section-body
            %p
              To: #{@report.email_to}
            - if @report.email_cc.present?
              %p
                Cc: #{@report.email_cc}
            - if @report.email_bcc.present?
              %p
                Bcc: #{@report.email_bcc}

        .section
          .section-title Subject
          .section-body
            = @report.subject_text
        .section
          .section-title Tasks
          .section-body
            - if @completed_tasks.present?
              %b Completed
              %ol.tasks
                - @completed_tasks.each do |task|
                  %li.task-list= task.title.to_s.html_safe
            - if @on_progress_tasks.present?
              %b On Progress
              %ol.tasks
                - @on_progress_tasks.each do |task|
                  %li.task-list= task.title.to_s.html_safe

        .section
          .section-title Message
          .section-body
            = link_to view_report_path(@report), class: "btn btn-info", data: {turbolinks: false}, target: "_blank" do
              .info
                View message
                = fa_icon "arrow-right"
