!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %title DailyReport41
    - if user_signed_in?
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - else
      = stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true
    - if Rails.env.development?
      -#= javascript_include_tag 'miniprofiler_turbolinks'
    = csrf_meta_tags

  %body
    - if user_signed_in?
      .app.app-default
        %aside#sidebar.app-sidebar
          .sidebar-header
            %a.sidebar-brand{:href => root_path}
              DailyReport41
            %button.sidebar-toggle{:type => "button"}
              %i.fa.fa-times
          .sidebar-menu
            %ul.sidebar-nav
              %li{:class => is_active_dashboard?}
                %a{:href => root_path}
                  .icon
                    %i.fa.fa-tasks{"aria-hidden" => "true"}
                  .title Dashboard
              %li{:class => is_active_projects?}
                %a{:href => projects_path}
                  .icon
                    %i.fa.fa-cubes{"aria-hidden" => "true"}
                  .title Projects
              %li{:class => is_active_reports?}
                %a{:href => reports_path}
                  .icon
                    %i.fa.fa-clipboard{"aria-hidden" => "true"}
                  .title Reports
              - if can?(:manage, Recap)
                %li{:class => is_active_recaps?}
                  %a{:href => recaps_path}
                    .icon
                      %i.fa.fa-files-o{"aria-hidden" => "true"}
                    .title Recap
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "/"}
                  .icon
                    %i.fa.fa-user{"aria-hidden" => "true"}
                  .title Profile
                .dropdown-menu
                  %ul
                    %li
                      = link_to "Profile", profile_user_path
                    %li
                      = link_to "Logout", destroy_user_session_path, method: :delete

        .app-container
          %nav#navbar.navbar.navbar-default{:style => "height: 0; min-height: 0;"}
            .container-fluid
              .navbar-collapse.collapse.in
                %ul.nav.navbar-nav.navbar-mobile
                  %li
                    %button.sidebar-toggle{:type => "button"}
                      %i.fa.fa-bars
                  %li.logo
                    %a.navbar-brand{:href => "#"}
                      DailyReport41
          = yield

          %footer.app-footer
            .row
              .col-xs-12
                .footer-copyright
                  Copyright © #{Time.now.year} DailyReport41

    - else
      .app.app-default
        = yield


